html, body {
  height: 100%;
  width: 100%;
}

h1 {
  color: #bd1f2d;
}
h2 {
  color: #0c2340;
}
h3 {
  color: #64CCC9;
}

label {
  font-weight: bold;
  display:inline-block;
  width:150px;
  text-align:right;
}

input {
  margin-bottom: 12px
}

input[type=submit] {
  float:right;
}

form{
  width:280px
}